@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

body {
    background-color: #191414;
    background-image: linear-gradient(rgb(70, 68, 68), rgb(0, 0, 0));
    width: 100vw;
    height: 130vh;
}

.login {
    position: absolute;
    top: 45%;
    left: 45%;
}

.loginLogo {
    height: 200px;
    width: 200px;
    background: linear-gradient(#1ed760, #35a55c);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginLogo::before, .loginLogo::after {
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #6adb91;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.7;
}

.loginLogo::before {
    animation: pulse 2s ease-out infinite;
}

.loginLogo::after {
    animation: pulse 2s 1s ease-out infinite;
}

@keyframes pulse {
    100%{
        transform: scale(1.5);
        opacity: 0;
    }
}

.loginName {
    text-decoration: none;
    color: #ffffff;
    font-family: Anton;
    font-size: 8vh;
    opacity: 70%;
    text-shadow: 1px 1px 2px grey;
}

.loginName:hover {
    opacity: 100%;
    transform: translateY(-5px);
    text-shadow: 1px 1px 2px rgb(166, 163, 163);
}

.topData {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttonData {
    display: flex;
    flex-direction: column;
    grid-column: 4/4;
    margin-top: 30px;
}

.topData button {
    height: 30px;
    width: 200px;
    margin-bottom: 5px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: Oswald ,monospace;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.topData button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.topData button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.headerContainer {
    grid-column: 1/3;
}

.header {
    color: white;
    font-family: Bebas Neue;
    line-height: 30px;
    font-size: 100px;
    padding-left: 5px;
}

img {
    height: 12vh;
    width: 6vw;
    margin-right: 30px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 8px;
    font-family: Oswald;
    display: flex;
    align-items: center;
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: center;
}

.container div {
    position: absolute;
    width: 80vw;
    height: 88vh;
    padding: 3px 0 3px 0;
    margin-top: 8px;
}

.carouselIndicator {
    display: flex;
    justify-content: center;
}

.trackButton, .artistButton, .genreButton {
    border-radius: 50%;
    height: 10px;
    width: 1px;
    margin-right: 8px;
    background-color: rgb(255, 255, 255);
    border: none;
}

.container div h2 {
    font-family: Bebas Neue;
    font-size: 5em;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.trackHome {
    background-color: #C8A2C8;
    border: solid rgba(255, 21, 185, 0.991);
    background-image: linear-gradient(rgb(185, 98, 222),rgb(99, 34, 112));
    border-radius: 1.5em;
}

.trackCard h2{
    color: #7f165c;
    text-shadow: 2px 2px #f36bc6;
}

.trackCard li {
    color: rgb(229, 229, 37);
}

.artistHome {
    background: blue;
    background-image: linear-gradient(rgb(82, 110, 194), rgb(31, 8, 163));
    border: solid rgb(50, 228, 235);
    border-radius: 1.5em;
}

.artistCard h2 {
    color: rgb(228, 82, 228);
    text-shadow: 2px 2px #15c2ed;
}

.artistCard li {
    color: rgb(0, 238, 255);
    margin-left: 40px;
}

.genreHome {
    background: rgb(226, 115, 220);
    background-image: linear-gradient(rgb(231, 151, 232), rgb(218, 89, 192));
    border: solid rgb(20, 240, 90);
    border-radius: 1.5em;
}

.genreCard h2 {
    color: rgb(20, 108, 58);
    text-shadow: 2px 2px #c0ea16;
}

/* .trackHome {
    animation: fadeIn 3s;
} */

@keyframes fadeIn {
    0% { opacity: 0% }
    100% { opacity: 100% }
}